/* NAV BAR CSS */

body {
  margin: 0;
}

.nav-bar {
  background-image: linear-gradient(to left, #248de4, #0c5397);
  height: 60px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.nav-left {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.logo-div {
  display: flex;
  margin: 5px;
  flex-direction: column;
}
.logo {
  border: none;
  background: transparent;
  font-size: 2em;
  color: #fff;
  user-select: none;
  margin: 0;
}
.logo-left {
  flex: 1;
}
.logo-right {
  flex: 3;
}

.search-box-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 2;
}

.searchbar-flex {
  display: flex;
  flex-direction: row;
}
.search-button {
  border: none;
  background-color: white;
  width: 40px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}

.search-button i.fa-search {
  font-weight: 100; /* You can adjust the value as needed */
}

input::placeholder {
  text-indent: 11px; /* Adjust the value to move the text left or right */
}

.searchbar {
  height: 40px;
  flex: 4;
  border-radius: none;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-color: none;
  padding: 0;
}

.search-left {
  width: 3px;
}

.search-right {
  width: 3px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  flex: 3;
  justify-content: center;
  height: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  flex: 1;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  right: 20px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
.navigation .btnLogin-popup {
  width: 100px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #122938;
  transition: 0.5s;
}

.left {
  flex: 8;
}

.right {
  flex: 1;
}

@media screen and (max-width: 832px) {
  .navigation a:nth-last-child(4),
  .navigation a:nth-last-child(3),
  .navigation a:nth-last-child(2) {
    display: none;
  }
}

/* Media query for screens with a width less than 600px */
@media screen and (max-width: 600px) {
  .navigation a:nth-last-child(5) {
    display: none;
  }
}

.login-button-div,
.signup-button-div {
  display: flex;
  margin: 5px;
  flex-direction: column;
}

.top,
.bottom {
  flex: 1;
}

.login-button,
.signup-button {
  font-family: "Open Sans", sans-serif;
  border: none;
  background: transparent;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.signup-button {
  background-color: #4b9de1;
  border-radius: 3px;
  padding: 7px;
}

.popup {
  /* display: none; */
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  padding: 0px 20px 20px 20px;
  /* background-color: white; */
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: rgb(159, 19, 19);
  background-color: rgba(0,0,0,0);
  width: 30px;
  height: 480px;
  overflow: hidden;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
}

.intobutton {
  font-weight: 700;
  width: fit-content;
}

.intobutton:hover {
  background-color: red;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 13px;
  margin-bottom: 7px;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.icon {
  width: 50px;
}

.input-box {
  /* position: relative; */
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #000000;
  margin: 30px 0;
}

.input-box label {
  /* position:absolute; */
  top: 50%;
  left: 5px;
  transform: translatey(-300%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;

  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

* {
  box-sizing: border-box;
}

.remember-forget a {
  display: block;
  text-align: center;
}

.loginButton {
  align-items: center;
  height: auto;
  width: 100%;
  margin-right: 5px;
  border-radius: 6px;
  background-color: #1877f2;
  display: inline;
  color: white;
  font-weight: bolder;
  font-family: inherit;
  border: none;
}

.login-register-div {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: 39px;
}

.registerButton {
  display: block;
  text-align: center;
  margin-left: 5px;
  border-radius: 6px;
  background-color: #1877f2;
  color: white;
  font-weight: bold;
  font-family: inherit;
  border: none;
  height: 35px;
  width: 100%;
}

.heading {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}
.remember-forget {
  padding-bottom: 20px;
}
.register-Button {
  align-items: center;
  height: 39px;
  width: 323.4px;
  margin-right: 5px;
  border-radius: 6px;
  background-color: #24a04d;
  display: inline;
  color: white;
  font-weight: bolder;
  font-family: inherit;
  border: none;
  margin-top: 15px;
}

/* STYLE CSS */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
} */

.courses-container {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-card {
  width: 262px;
  height: 259px;
  margin: 10px;
  border: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 20px;
}

.course-card:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .courses-container {
    flex-direction: column;
    align-items: center;
  }
}

.course-name-box {
  display: flex;
  height: 108px;
  width: 100%;
  align-items: center;
}

.image-div {
  width: 80px;
}

.image {
  border-radius: 50px;
  width: 40px;
  height: 39px;
}

.course-title-div {
  flex: 1;
}

.course-title {
  font-family: sans-serif;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  margin-left: 1px;
  margin-right: 25px;
  text-transform: uppercase;
  font-weight: 630;
}

.cancel-button {
  border: none;
  background-color: #fff;
  margin-right: 0px;
  margin-left: 320px;
  margin-bottom: 0px;
  size: 60px;
  height: 50px;
  width: 50px;
  padding-top: 0px;
}

.intobutton {
  background: white;
  border: none;
  width: 40px;
  size: 50px;
}
.intobutton :hover {
  background-color: red;
}

.marquee-div {
  margin-top: 10px;
  margin-bottom: 0px;
}
.marquee-content {
  font-weight: bold;
  color: red;
}

/* TRENDING COURSES HEADING */

.trending-courses {
  margin-inline: auto;
  margin-bottom: 10px;
  margin-top: 70px;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: rgb(64, 64, 64);
  display: inline-block;
  position: relative;
  left: 22%;
}
