/* Carousel.css */

/* Responsive styles */
.carousel-container {
  width: 100%;
  max-width: 1400px;
  margin: 20px auto;
  margin-top: 30px; /* Adjust the margin-top value based on your design */
}

.mySwiper {
  width: 100%;
}

.mySwiper img {
  width: 100%;
  height: 550px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .mySwiper img {
    height: auto;
  }
}

/* Add border-radius to the images */
.swiper-slide img {
  border-radius: 10px; /* Adjust the border-radius value based on your design */
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
}

/* Additional styles */
.scroll-container {
  margin-top: 55px;
}

  
  .marquee-div {
    background-color: 'white'; /* Background color for the marquee container */
    padding: 10px; /* Adjust padding as needed */
    overflow: hidden;
  }
  
  .marquee-content {
    font-size: 18px;
    color: #983a3a;
    font-weight: bold;
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  